<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Information</title>
</head>
<%- include('./ReusableComponents/BootstrapCDN.ejs') %>
<body>
    <div class="container mt-5">
        <h1 class="text-center">System Information</h1>
        <div class="row">
            <div class="col-md-4">
                <h2>Operating System</h2>
                <ul class="list-group">
                    <li class="list-group-item">Platform: <%= platform %></li>
                    <li class="list-group-item">OS Type: <%= osType %></li>
                    <li class="list-group-item">Release: <%= release %></li>
                    <li class="list-group-item">Architecture: <%= architecture %></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>[RAM] Memory Information</h2>
                <div class="list-group">
                    <div class="list-group-item">
                        <strong>Total Memory (GB):</strong>
                        <span><%= (totalMemory / (1024 * 1024 * 1024)).toFixed(2) %> GB</span>
                    </div>
                    <div class="list-group-item">
                        <strong>Free Memory (GB):</strong>
                        <span><%= (freeMemory / (1024 * 1024 * 1024)).toFixed(2) %> GB</span>
                    </div>
                </div>
                <!-- Progress bar for Free Memory -->
                <div class="progress mt-3">
                    <div class="progress-bar bg-success" role="progressbar" style="width: <%= (freeMemory / totalMemory * 100).toFixed(2) %>%;" aria-valuenow="<%= (freeMemory / totalMemory * 100).toFixed(2) %>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Disk Information</h2>
                <div class="list-group">
                    <div class="list-group-item">
                        <strong>Total Disk Space (GB):</strong>
                        <span><%= (diskInfo.size / (1024 * 1024 * 1024)).toFixed(2) %> GB</span>
                    </div>
                    <div class="list-group-item">
                        <strong>Free Disk Space (GB):</strong>
                        <span><%= (diskInfo.free / (1024 * 1024 * 1024)).toFixed(2) %> GB</span>
                    </div>
                </div>
            
                <!-- Progress bar for Free Disk Space -->
                <div class="progress mt-3">
                    <div class="progress-bar bg-success" role="progressbar" style="width: <%= (diskInfo.free / diskInfo.size * 100).toFixed(2) %>%;" aria-valuenow="<%= (diskInfo.free / diskInfo.size * 100).toFixed(2) %>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-6">
                <h2>System Information</h2>
                <ul class="list-group">
                    <li class="list-group-item">Home Directory: <%= homedir %></li>
                    <li class="list-group-item">Hostname: <%= hostname %></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>User Information</h2>
                <div class="list-group">
                    <div class="list-group-item">
                        <strong>User ID (UID):</strong>
                        <span><%= userInfo.uid %></span>
                    </div>
                    <div class="list-group-item">
                        <strong>Group ID (GID):</strong>
                        <span><%= userInfo.gid %></span>
                    </div>
                    <div class="list-group-item">
                        <strong>Username:</strong>
                        <span><%= userInfo.username %></span>
                    </div>
                    <div class="list-group-item">
                        <strong>Home Directory:</strong>
                        <span><%= userInfo.homedir %></span>
                    </div>
                    <div class="list-group-item">
                        <strong>Shell:</strong>
                        <span><%= userInfo.shell || 'N/A' %></span>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row my-3">
            <div class="col-md-12">
                <h2>Network Interfaces</h2>
                <div class="accordion" id="networkInterfacesAccordion">
                    <% for (const [interfaceName, addresses] of Object.entries(networkInterfaces)) { %>
                        <% const safeInterfaceName = interfaceName.replace(/\s+/g, '_'); %>
                        <div class="card">
                            <div class="card-header" id="network<%= safeInterfaceName %>Header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#network<%= safeInterfaceName %>Collapse" aria-expanded="true" aria-controls="network<%= safeInterfaceName %>Collapse">
                                        <%= interfaceName %>
                                    </button>
                                </h5>
                            </div>
                            <div id="network<%= safeInterfaceName %>Collapse" class="collapse" aria-labelledby="network<%= safeInterfaceName %>Header" data-parent="#networkInterfacesAccordion">
                                <div class="card-body">
                                    <ul class="list-group">
                                        <% for (const address of addresses) { %>
                                            <li class="list-group-item">
                                                <strong>Address:</strong> <%= address.address %><br>
                                                <strong>Netmask:</strong> <%= address.netmask %><br>
                                                <strong>Family:</strong> <%= address.family %><br>
                                                <strong>MAC:</strong> <%= address.mac %><br>
                                                <strong>Internal:</strong> <%= address.internal %><br>
                                                <strong>CIDR:</strong> <%= address.cidr %><br>
                                                <strong>Scope ID:</strong> <%= address.scopeid %><br>
                                            </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
                
            </div>
        </div>
        <h2 class="text-center my-3">CPU Information [ <%=cpus.length%> CPUs ]</h2>
        <div class="row">
            <% for (const cpu of cpus) { %>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">CPU Model: <%= cpu.model %></h5>
                            <p class="card-text">CPU Speed: <%= cpu.speed %> MHz</p>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <!-- Include Bootstrap JS (jQuery and Popper.js are required) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
